<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ShipmentLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <entityFramework>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.10.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>

  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"></remove>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.10.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="WegaDB" connectionString="server=SERVER_ADDRESS;user id=USER_ID;persistsecurityinfo=True;database=DATABASE_NAME;password=PASSWORD" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GKVAPISOAP11Binding">
          <security mode="Transport" />
        </binding>
        <binding name="GKV3XAPISOAP11Binding">
          <security mode="Transport" />
        </binding>
        <binding name="GKVAPISOAP11BindingNew">
          <security mode="Transport" />
        </binding>
        <binding name="GKV3XAPISOAP11BindingNew">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://sandbox.example.com/soap"
                binding="basicHttpBinding"
                bindingConfiguration="GKVAPISOAP11Binding"
                contract="ShipWebReference.ISWSServicePortType"
                name="ShipmentServiceSOAP11portTestOld" />
      <endpoint address="https://production.example.com/soap"
                binding="basicHttpBinding"
                bindingConfiguration="GKV3XAPISOAP11Binding"
                contract="ShipWebReference.ISWSServicePortType"
                name="ShipmentServiceSOAP11portProdOld" />
      <endpoint address="https://sandbox.example.com/soap"
                binding="basicHttpBinding"
                bindingConfiguration="GKVAPISOAP11BindingNew"
                contract="ShipWebReference3.GKV3XAPIServicePortType"
                name="GKVAPISOAP11port01TestNew" />
      <endpoint address="https://production.example.com/soap"
                binding="basicHttpBinding"
                bindingConfiguration="GKV3XAPISOAP11BindingNew"
                contract="ShipWebReference3.GKV3XAPIServicePortType"
                name="GKVAPISOAP11port01ProdNew" />
    </client>
  </system.serviceModel>

  <applicationSettings>
    <ShipmentLib.Properties.Settings>

      <setting name="DHL_TestMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UPS_TestMode" serializeAs="String">
        <value>False</value>
      </setting>

      <setting name="PauschalBetrag" serializeAs="String">
        <value>0</value>
      </setting>

      <setting name="LaserPrinter" serializeAs="String">
        <value>LaserPrinterModel</value>
      </setting>
      <setting name="LabelPrinter" serializeAs="String">
        <value>LabelPrinterModel</value>
      </setting>

      <setting name="LLLicenseInfo" serializeAs="String">
        <value>LICENSE_INFO</value>
      </setting>
      <setting name="FileLLExportDocumentPdf" serializeAs="String">
        <value>C:\Path\To\ExportDocumentPdf.lst</value>
      </setting>
      <setting name="FileLLPdf" serializeAs="String">
        <value>C:\Path\To\PrintPdf.lst</value>
      </setting>
      <setting name="FileLLPic" serializeAs="String">
        <value>C:\Path\To\PrintPic.lst</value>
      </setting>
      <setting name="FileLLHtml" serializeAs="String">
        <value>C:\Path\To\PrintHtml.lst</value>
      </setting>
      <setting name="FileLLSummaryUPS" serializeAs="String">
        <value>C:\Path\To\PrintSummaryUPS.lst</value>
      </setting>
      <setting name="FileLLSummaryDHL" serializeAs="String">
        <value>C:\Path\To\PrintSummaryDHL.lst</value>
      </setting>
      <setting name="FileLLListUPS" serializeAs="String">
        <value>C:\Path\To\PrintListUPS.lst</value>
      </setting>
      <setting name="FileLLListDHL" serializeAs="String">
        <value>C:\Path\To\PrintListDHL.lst</value>
      </setting>
      <setting name="FileLLManifestedDHL" serializeAs="String">
        <value>C:\Path\To\PrintManifestedDHL.lst</value>
      </setting>

      <setting name="DownloadFolder" serializeAs="String">
        <value>C:\Path\To\Downloads</value>
      </setting>
      <setting name="LogFolder" serializeAs="String">
        <value>C:\Path\To\Log</value>
      </setting>

      <setting name="DatabaseCulture" serializeAs="String">
        <value>de-DE</value>
      </setting>
      <setting name="DHL_PDF_Filename" serializeAs="String">
        <value>dhl.pdf</value>
      </setting>
      <setting name="DHL_PartnerID" serializeAs="String">
        <value>PARTNER_ID</value>
      </setting>
      <setting name="DHL_ExportDocument_Filename" serializeAs="String">
        <value>export_document.pdf</value>
      </setting>
      <setting name="DHL_Manifest_Filename" serializeAs="String">
        <value>manifest.pdf</value>
      </setting>

      <setting name="DHL_PartnerCode_NAT" serializeAs="String">
        <value>CODE_NAT</value>
      </setting>
      <setting name="DHL_PartnerCode_INT" serializeAs="String">
        <value>CODE_INT</value>
      </setting>
      <setting name="DHL_PartnerCode_BP_INT" serializeAs="String">
        <value>CODE_BP_INT</value>
      </setting>
      <setting name="DHL_PartnerCode_TestMode" serializeAs="String">
        <value>CODE_TEST</value>
      </setting>

      <setting name="PrintBarcode" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PrintTurnIn" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LLDesign" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LLPreview" serializeAs="String">
        <value>0</value>
      </setting>

      <setting name="PackageTypeCode" serializeAs="String">
        <value>02</value>
      </setting>
      <setting name="ServiceNotificationCode" serializeAs="String">
        <value>06</value>
      </setting>
      <setting name="ServiceDescription" serializeAs="String">
        <value>ServiceDescription</value>
      </setting>
      <setting name="CODAmountCurrencyCode" serializeAs="String">
        <value>EUR</value>
      </setting>
      <setting name="ShipUnitOfMeasurementTypeCode" serializeAs="String">
        <value>KGS</value>
      </setting>
      <setting name="ShipUnitOfMeasurementTypeDescription" serializeAs="String">
        <value>KG</value>
      </setting>
      <setting name="LabelImageFormatCode" serializeAs="String">
        <value>ZPL</value>
      </setting>
      <setting name="LabelStockSizeHeight" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="LabelStockSizeWidth" serializeAs="String">
        <value>4</value>
      </setting>

      <setting name="ShipperName" serializeAs="String">
        <value>ShipperName</value>
      </setting>
      <setting name="ShipperAttentionName" serializeAs="String">
        <value>AttentionName</value>
      </setting>
      <setting name="ShipperAddressLine" serializeAs="String">
        <value>AddressLine</value>
      </setting>
      <setting name="ShipperCountryCode" serializeAs="String">
        <value>DE</value>
      </setting>
      <setting name="ShipperPhoneNumber" serializeAs="String">
        <value>PHONE_NUMBER</value>
      </setting>
      <setting name="ShipperStateProvinceCode" serializeAs="String">
        <value />
      </setting>
      <setting name="ShipperEmail" serializeAs="String">
        <value>email@example.com</value>
      </setting>
      <setting name="ShipperFromName" serializeAs="String">
        <value>ShipperFromName</value>
      </setting>
      <setting name="ShipperFromAttentionName" serializeAs="String">
        <value>AttentionName</value>
      </setting>
      <setting name="ShipperFromAddressLine" serializeAs="String">
        <value>AddressLine</value>
      </setting>
      <setting name="ShipperFromPostalCode" serializeAs="String">
        <value>POSTAL_CODE</value>
      </setting>
      <setting name="ShipperFromCity" serializeAs="String">
        <value>City</value>
      </setting>
      <setting name="ShipperFromCountryCode" serializeAs="String">
        <value>DE</value>
      </setting>
      <setting name="ShipperFromPhoneNumber" serializeAs="String">
        <value>PHONE_NUMBER</value>
      </setting>
      <setting name="ShipperFromStateProvinceCode" serializeAs="String">
        <value />
      </setting>
      <setting name="ShipperFromEmail" serializeAs="String">
        <value>email@example.com</value>
      </setting>
      <setting name="ShipperCity" serializeAs="String">
        <value>City</value>
      </setting>
      <setting name="ShipperPostalCode" serializeAs="String">
        <value>POSTAL_CODE</value>
      </setting>
      <setting name="ShipmentChargeType" serializeAs="String">
        <value>01</value>
      </setting>
      <setting name="ShipmentDescription" serializeAs="String">
        <value>ShipmentRequest</value>
      </setting>

      <setting name="OpenNotepadOnException" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Retries" serializeAs="String">
        <value>3</value>
      </setting>

      <setting name="ShipperStreet" serializeAs="String">
        <value>Street</value>
      </setting>
      <setting name="ShipperStreetNr" serializeAs="String">
        <value>23</value>
      </setting>
      <setting name="Shipper_VATID" serializeAs="String">
        <value>VAT_ID</value>
      </setting>

      <setting name="UPS_AccessLicenseNumber" serializeAs="String">
        <value>ACCESS_LICENSE</value>
      </setting>
      <setting name="UPS_Username" serializeAs="String">
        <value>USERNAME</value>
      </setting>
      <setting name="UPS_Password" serializeAs="String">
        <value>PASSWORD</value>
      </setting>

      <setting name="DHL_IntraShipUser" serializeAs="String">
        <value>INTRASHIP_USER</value>
      </setting>
      <setting name="DHL_IntraShipPassword" serializeAs="String">
        <value>INTRASHIP_PASSWORD</value>
      </setting>
      <setting name="DHL_CigUser" serializeAs="String">
        <value>CIG_USER</value>
      </setting>
      <setting name="DHL_EKP_Test" serializeAs="String">
        <value>EKP_TEST</value>
      </setting>

      <setting name="DHL_EKP_Prod" serializeAs="String">
        <value>EKP_PROD</value>
      </setting>
      <setting name="DHL_Username" serializeAs="String">
        <value>USERNAME</value>
      </setting>
      <setting name="DHL_CigPassword" serializeAs="String">
        <value>PASSWORD</value>
      </setting>
      <setting name="DHL_ApplicationsID" serializeAs="String">
        <value>APPLICATION_ID</value>
      </setting>
      <setting name="DHL_Applicationstoken" serializeAs="String">
        <value>APPLICATION_TOKEN</value>
      </setting>

      <setting name="ShipperAccountOwner" serializeAs="String">
        <value>AccountOwner</value>
      </setting>
      <setting name="ShipperAccountNumber" serializeAs="String">
        <value>ACCOUNT_NUMBER</value>
      </setting>
      <setting name="ShipperBankCode" serializeAs="String">
        <value>BANK_CODE</value>
      </setting>
      <setting name="ShipperBankName" serializeAs="String">
        <value>BankName</value>
      </setting>
      <setting name="ShipperIban" serializeAs="String">
        <value>IBAN</value>
      </setting>
      <setting name="ShipperBic" serializeAs="String">
        <value>BIC</value>
      </setting>

      <setting name="Paket_Length" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="Paket_Width" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="Paket_Height" serializeAs="String">
        <value>22</value>
      </setting>

      <setting name="DHL_ShippingModule_ShipWebReference_ShipService_Test" serializeAs="String">
        <value>https://sandbox.example.com/soap</value>
      </setting>
      <setting name="DHL_ShippingModule_ShipWebReference_ShipService_Prod" serializeAs="String">
        <value>https://production.example.com/soap</value>
      </setting>

      <setting name="UPS_ShippingModule_ShipWebReference_ShipService_Test" serializeAs="String">
        <value>https://sandbox.ups.com/webservices/Ship</value>
      </setting>
      <setting name="UPS_ShippingModule_VoidWebReference_VoidService_Test" serializeAs="String">
        <value>https://sandbox.ups.com/webservices/Void</value>
      </setting>
      <setting name="UPS_ShippingModule_ShipWebReference_ShipService_Prod" serializeAs="String">
        <value>https://production.ups.com/webservices/Ship</value>
      </setting>
      <setting name="UPS_ShippingModule_VoidWebReference_VoidService_Prod" serializeAs="String">
        <value>https://production.ups.com/webservices/Void</value>
      </setting>

      <setting name="Production" serializeAs="String">
        <value>0</value>
      </setting>
    </ShipmentLib.Properties.Settings>
  </applicationSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>

</configuration>
