<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ShipmentLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <entityFramework>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>

  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"></remove>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="WegaDB" connectionString="server=localhost;user id=DB_USER;persistsecurityinfo=True;database=DB_NAME" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ShipmentServiceSOAP11Binding">
          <security mode="Transport" />
        </binding>
        <binding name="ShipmentServiceSOAP11Binding1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ShipmentServiceSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://cig.dhl.de/services/production/soap" binding="basicHttpBinding" bindingConfiguration="ShipmentServiceSOAP11Binding" contract="ShipWebReference.ISWSServicePortType" name="ShipmentServiceSOAP11port0" />
      <endpoint address="https://cig.dhl.de/services/production/soap" binding="customBinding" bindingConfiguration="ShipmentServiceSOAP12Binding" contract="ShipWebReference.ISWSServicePortType" name="ShipmentServiceSOAP12port0" />
    </client>
  </system.serviceModel>

  <applicationSettings>
    <ShipmentLib.Properties.Settings>
      <setting name="LaserPrinter" serializeAs="String">
        <value>\\localhost\PRINTER_NAME</value>
      </setting>
      <setting name="LabelPrinter" serializeAs="String">
        <value>\\localhost\PRINTER_NAME</value>
      </setting>
      <setting name="PackageTypeCode" serializeAs="String">
        <value>PACKAGE_TYPE_CODE</value>
      </setting>
      <setting name="ServiceNotificationCode" serializeAs="String">
        <value>NOTIFICATION_CODE</value>
      </setting>
      <setting name="ServiceDescription" serializeAs="String">
        <value>SERVICE_DESCRIPTION</value>
      </setting>
      <setting name="CODAmountCurrencyCode" serializeAs="String">
        <value>CURRENCY_CODE</value>
      </setting>
      <setting name="ShipUnitOfMeasurementTypeCode" serializeAs="String">
        <value>MEASUREMENT_CODE</value>
      </setting>
      <setting name="ShipUnitOfMeasurementTypeDescription" serializeAs="String">
        <value>MEASUREMENT_DESCRIPTION</value>
      </setting>
      <setting name="LabelImageFormatCode" serializeAs="String">
        <value>IMAGE_FORMAT</value>
      </setting>
      <setting name="LabelStockSizeHeight" serializeAs="String">
        <value>LABEL_HEIGHT</value>
      </setting>
      <setting name="LabelStockSizeWidth" serializeAs="String">
        <value>LABEL_WIDTH</value>
      </setting>
      <setting name="ShipperName" serializeAs="String">
        <value>SHIPPER_NAME</value>
      </setting>
      <setting name="ShipperAttentionName" serializeAs="String">
        <value>SHIPPER_ATTENTION_NAME</value>
      </setting>
      <setting name="ShipperAddressLine" serializeAs="String">
        <value>SHIPPER_ADDRESS</value>
      </setting>
      <setting name="ShipperCountryCode" serializeAs="String">
        <value>COUNTRY_CODE</value>
      </setting>
      <setting name="ShipperPhoneNumber" serializeAs="String">
        <value>PHONE_NUMBER</value>
      </setting>
      <setting name="ShipperEmail" serializeAs="String">
        <value>EMAIL_ADDRESS</value>
      </setting>
      <setting name="ShipperFromName" serializeAs="String">
        <value>SHIPPER_FROM_NAME</value>
      </setting>
      <setting name="ShipperFromAttentionName" serializeAs="String">
        <value>SHIPPER_FROM_ATTENTION_NAME</value>
      </setting>
      <setting name="ShipperFromAddressLine" serializeAs="String">
        <value>SHIPPER_FROM_ADDRESS</value>
      </setting>
      <setting name="ShipperFromPostalCode" serializeAs="String">
        <value>POSTAL_CODE</value>
      </setting>
      <setting name="ShipperFromCity" serializeAs="String">
        <value>CITY_NAME</value>
      </setting>
      <setting name="ShipperFromCountryCode" serializeAs="String">
        <value>COUNTRY_CODE</value>
      </setting>
      <setting name="ShipperFromPhoneNumber" serializeAs="String">
        <value>PHONE_NUMBER</value>
      </setting>
      <setting name="ShipperFromEmail" serializeAs="String">
        <value>EMAIL_ADDRESS</value>
      </setting>
      <setting name="ShipperCity" serializeAs="String">
        <value>CITY_NAME</value>
      </setting>
      <setting name="ShipperPostalCode" serializeAs="String">
        <value>POSTAL_CODE</value>
      </setting>
      <setting name="ShipmentChargeType" serializeAs="String">
        <value>CHARGE_TYPE</value>
      </setting>
      <setting name="ShipmentDescription" serializeAs="String">
        <value>SHIPMENT_DESCRIPTION</value>
      </setting>
      <setting name="PrintBarcode" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Production" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UPS_ShippingModule_ShipWebReference_ShipService" serializeAs="String">
        <value>https://wwwcie.ups.com/webservices/Ship</value>
      </setting>
      <setting name="LLPreview" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PrintTurnIn" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="UPS_ShippingModule_VoidWebReference_VoidService" serializeAs="String">
        <value>https://wwwcie.ups.com/webservices/Void</value>
      </setting>
      <setting name="OpenNotepadOnException" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Retries" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="DownloadFolder" serializeAs="String">
        <value>DOWNLOAD_FOLDER_PATH</value>
      </setting>
      <setting name="LogFolder" serializeAs="String">
        <value>LOG_FOLDER_PATH</value>
      </setting>
      <setting name="FileLLHtml" serializeAs="String">
        <value>HTML_FILE_PATH</value>
      </setting>
      <setting name="FileLLSummary" serializeAs="String">
        <value>SUMMARY_FILE_PATH</value>
      </setting>
      <setting name="LLDesign" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DHL_ShippingModule_ShipWebReference_ShipService_Test" serializeAs="String">
        <value>https://cig.dhl.de/services/sandbox/soap</value>
      </setting>
      <setting name="UPS_AccessLicenseNumber" serializeAs="String">
        <value>ACCESS_LICENSE_NUMBER</value>
      </setting>
      <setting name="UPS_Username" serializeAs="String">
        <value>USERNAME</value>
      </setting>
      <setting name="UPS_Password" serializeAs="String">
        <value>PASSWORD</value>
      </setting>
      <setting name="DHL_IntraShipUser" serializeAs="String">
        <value>INTRASHIP_USER</value>
      </setting>
      <setting name="DHL_IntraShipPassword" serializeAs="String">
        <value>INTRASHIP_PASSWORD</value>
      </setting>
      <setting name="DHL_CigUser" serializeAs="String">
        <value>CIG_USER</value>
      </setting>
      <setting name="DHL_CigPassword" serializeAs="String">
        <value>CIG_PASSWORD</value>
      </setting>
      <setting name="ShipperStreet" serializeAs="String">
        <value>STREET_NAME</value>
      </setting>
      <setting name="ShipperStreetNr" serializeAs="String">
        <value>STREET_NUMBER</value>
      </setting>
      <setting name="DHL_EKP_Prod" serializeAs="String">
        <value>EKP_PROD</value>
      </setting>
      <setting name="Shipper_VATID" serializeAs="String">
        <value>VAT_ID</value>
      </setting>
      <setting name="DHL_ShippingModule_ShipWebReference_ShipService_Prod" serializeAs="String">
        <value>https://cig.dhl.de/services/production/soap</value>
      </setting>
      <setting name="DHL_EKP_Test" serializeAs="String">
        <value>EKP_TEST</value>
      </setting>
      <setting name="DHL_Username" serializeAs="String">
        <value>USERNAME</value>
      </setting>
      <setting name="DHL_ApplicationsID" serializeAs="String">
        <value>APPLICATION_ID</value>
      </setting>
      <setting name="DHL_Applicationstoken" serializeAs="String">
        <value>APPLICATION_TOKEN</value>
      </setting>
      <setting name="ShipperAccountOwner" serializeAs="String">
        <value>ACCOUNT_OWNER</value>
      </setting>
      <setting name="ShipperAccountNumber" serializeAs="String">
        <value>ACCOUNT_NUMBER</value>
      </setting>
      <setting name="ShipperBankCode" serializeAs="String">
        <value>BANK_CODE</value>
      </setting>
      <setting name="ShipperBankName" serializeAs="String">
        <value>BANK_NAME</value>
      </setting>
      <setting name="ShipperIban" serializeAs="String">
        <value>IBAN</value>
      </setting>
      <setting name="ShipperBic" serializeAs="String">
        <value>BIC</value>
      </setting>
      <setting name="DHL_TestMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Paket_Length" serializeAs="String">
        <value>PACKAGE_LENGTH</value>
      </setting>
      <setting name="Paket_Width" serializeAs="String">
        <value>PACKAGE_WIDTH</value>
      </setting>
      <setting name="Paket_Height" serializeAs="String">
        <value>PACKAGE_HEIGHT</value>
      </setting>
      <setting name="File_LLPdf" serializeAs="String">
        <value>PDF_FILE_PATH</value>
      </setting>
      <setting name="DatabaseCulture" serializeAs="String">
        <value>DATABASE_CULTURE</value>
      </setting>
      <setting name="DHL_PDF_Filename" serializeAs="String">
        <value>PDF_FILENAME</value>
      </setting>
      <setting name="DHL_PartnerID" serializeAs="String">
        <value>PARTNER_ID</value>
      </setting>
    </ShipmentLib.Properties.Settings>
  </applicationSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.10.5.0" newVersion="6.10.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
