<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ShipmentLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <entityFramework>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>

  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"></remove>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="WegaDB" connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=lewiax" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ShipmentServiceSOAP11Binding">
          <security mode="Transport" />
        </binding>
        <binding name="ShipmentServiceSOAP11Binding1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ShipmentServiceSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://cig.dhl.de/services/production/soap" binding="basicHttpBinding" bindingConfiguration="ShipmentServiceSOAP11Binding" contract="ShipWebReference.ISWSServicePortType" name="ShipmentServiceSOAP11port0" />
      <endpoint address="https://cig.dhl.de/services/production/soap" binding="customBinding" bindingConfiguration="ShipmentServiceSOAP12Binding" contract="ShipWebReference.ISWSServicePortType" name="ShipmentServiceSOAP12port0" />
    </client>
  </system.serviceModel>

  <applicationSettings>
    <ShipmentLib.Properties.Settings>
      <setting name="LaserPrinter" serializeAs="String">
        <value>\\localhost\HP200</value>
      </setting>
      <setting name="LabelPrinter" serializeAs="String">
        <value>\\localhost\HP200</value>
      </setting>
      <setting name="PackageTypeCode" serializeAs="String">
        <value>02</value>
      </setting>
      <setting name="ServiceNotificationCode" serializeAs="String">
        <value>06</value>
      </setting>
      <setting name="ServiceDescription" serializeAs="String">
        <value>Mobilfunkzubehör</value>
      </setting>
      <setting name="CODAmountCurrencyCode" serializeAs="String">
        <value>EUR</value>
      </setting>
      <setting name="ShipUnitOfMeasurementTypeCode" serializeAs="String">
        <value>KGS</value>
      </setting>
      <setting name="ShipUnitOfMeasurementTypeDescription" serializeAs="String">
        <value>KG</value>
      </setting>
      <setting name="LabelImageFormatCode" serializeAs="String">
        <value>EPL</value>
      </setting>
      <setting name="LabelStockSizeHeight" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="LabelStockSizeWidth" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ShipperName" serializeAs="String">
        <value>Wegatrade GmbH</value>
      </setting>
      <setting name="ShipperAttentionName" serializeAs="String">
        <value>Mustafa Uyulan</value>
      </setting>
      <setting name="ShipperAddressLine" serializeAs="String">
        <value>Piepersberg 23</value>
      </setting>
      <setting name="ShipperCountryCode" serializeAs="String">
        <value>DE</value>
      </setting>
      <setting name="ShipperPhoneNumber" serializeAs="String">
        <value>+492126450100</value>
      </setting>
      <setting name="ShipperStateProvinceCode" serializeAs="String">
        <value />
      </setting>
      <setting name="ShipperEmail" serializeAs="String">
        <value>info@wegatrade.de</value>
      </setting>
      <setting name="ShipperFromName" serializeAs="String">
        <value>Wegatrade GmbH</value>
      </setting>
      <setting name="ShipperFromAttentionName" serializeAs="String">
        <value>Mustafa Uyulan</value>
      </setting>
      <setting name="ShipperFromAddressLine" serializeAs="String">
        <value>Piepersberg 23</value>
      </setting>
      <setting name="ShipperFromPostalCode" serializeAs="String">
        <value>42653</value>
      </setting>
      <setting name="ShipperFromCity" serializeAs="String">
        <value>Solingen</value>
      </setting>
      <setting name="ShipperFromCountryCode" serializeAs="String">
        <value>DE</value>
      </setting>
      <setting name="ShipperFromPhoneNumber" serializeAs="String">
        <value>+492126450100</value>
      </setting>
      <setting name="ShipperFromStateProvinceCode" serializeAs="String">
        <value />
      </setting>
      <setting name="ShipperFromEmail" serializeAs="String">
        <value>info@wegatrade.de</value>
      </setting>
      <setting name="ShipperCity" serializeAs="String">
        <value>Solingen</value>
      </setting>
      <setting name="ShipperPostalCode" serializeAs="String">
        <value>42653</value>
      </setting>
      <setting name="ShipmentChargeType" serializeAs="String">
        <value>01</value>
      </setting>
      <setting name="ShipmentDescription" serializeAs="String">
        <value>ShipmentRequest</value>
      </setting>
      <setting name="PrintBarcode" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Production" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UPS_ShippingModule_ShipWebReference_ShipService" serializeAs="String">
        <value>https://wwwcie.ups.com/webservices/Ship</value>
      </setting>
      <setting name="LLPreview" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PrintTurnIn" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="UPS_ShippingModule_VoidWebReference_VoidService" serializeAs="String">
        <value>https://wwwcie.ups.com/webservices/Void</value>
      </setting>
      <setting name="OpenNotepadOnException" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Retries" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="DownloadFolder" serializeAs="String">
        <value>D:\Projects\Wegatrade\WegaShipment\ShipmentModule\bin\Debug\Downloads</value>
      </setting>
      <setting name="LogFolder" serializeAs="String">
        <value>D:\Projects\Wegatrade\WegaShipment\ShipmentModule\bin\Debug\Log</value>
      </setting>
      <setting name="FileLLHtml" serializeAs="String">
        <value>D:\Projects\Wegatrade\WegaShipment\ShipmentModule\bin\Debug\Reports\PrintHtml.lst</value>
      </setting>
      <setting name="FileLLSummary" serializeAs="String">
        <value>D:\Projects\Wegatrade\WegaShipment\ShipmentModule\bin\Debug\Reports\PrintSummary.lst</value>
      </setting>
      <setting name="LLDesign" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DHL_ShippingModule_ShipWebReference_ShipService_Test" serializeAs="String">
        <value>https://cig.dhl.de/services/sandbox/soap</value>
      </setting>
      <setting name="UPS_AccessLicenseNumber" serializeAs="String">
        <value>8C8FDE8E6E0D5830</value>
      </setting>
      <setting name="UPS_Username" serializeAs="String">
        <value>26939V</value>
      </setting>
      <setting name="UPS_Password" serializeAs="String">
        <value>Wegatrade13</value>
      </setting>
      <setting name="DHL_IntraShipUser" serializeAs="String">
        <value>geschaeftskunden_api</value>
      </setting>
      <setting name="DHL_IntraShipPassword" serializeAs="String">
        <value>Dhl_ep_test1</value>
      </setting>
      <setting name="DHL_CigUser" serializeAs="String">
        <value>wegatrade</value>
      </setting>
      <setting name="DHL_CigPassword" serializeAs="String">
        <value>$SimWeg@!3</value>
      </setting>
      <setting name="ShipperStreet" serializeAs="String">
        <value>Piepersberg</value>
      </setting>
      <setting name="ShipperStreetNr" serializeAs="String">
        <value>23</value>
      </setting>
      <setting name="DHL_EKP_Prod" serializeAs="String">
        <value>6105760911</value>
      </setting>
      <setting name="Shipper_VATID" serializeAs="String">
        <value>DE814263581</value>
      </setting>
      <setting name="DHL_ShippingModule_ShipWebReference_ShipService_Prod" serializeAs="String">
        <value>https://cig.dhl.de/services/production/soap</value>
      </setting>
      <setting name="DHL_EKP_Test" serializeAs="String">
        <value>5000000008</value>
      </setting>
      <setting name="DHL_Username" serializeAs="String">
        <value>mk@simetrix.eu</value>
      </setting>
      <setting name="DHL_ApplicationsID" serializeAs="String">
        <value>ShipmentModule_1</value>
      </setting>
      <setting name="DHL_Applicationstoken" serializeAs="String">
        <value>9mXOrxCiLTx9sYXXPhAvDjUaVHzV5B</value>
      </setting>
      <setting name="ShipperAccountOwner" serializeAs="String">
        <value>Wegatrade GmbH</value>
      </setting>
      <setting name="ShipperAccountNumber" serializeAs="String">
        <value>017087801</value>
      </setting>
      <setting name="ShipperBankCode" serializeAs="String">
        <value>34270024</value>
      </setting>
      <setting name="ShipperBankName" serializeAs="String">
        <value>Deutsche Bank AG Solingen</value>
      </setting>
      <setting name="ShipperIban" serializeAs="String">
        <value>DE71342700240017087801</value>
      </setting>
      <setting name="ShipperBic" serializeAs="String">
        <value>DEUTDEDB342</value>
      </setting>
      <setting name="DHL_TestMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Paket_Length" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="Paket_Width" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="Paket_Height" serializeAs="String">
        <value>22</value>
      </setting>
      <setting name="File_LLPdf" serializeAs="String">
        <value>D:\Projects\Wegatrade\WegaShipment\ShipmentModule\bin\Debug\Reports\PrintPdf.lst</value>
      </setting>
      <setting name="DatabaseCulture" serializeAs="String">
        <value>de-DE</value>
      </setting>
      <setting name="DHL_PDF_Filename" serializeAs="String">
        <value>dhl.pdf</value>
      </setting>
      <setting name="DHL_PartnerID" serializeAs="String">
        <value>01</value>
      </setting>
    </ShipmentLib.Properties.Settings>
  </applicationSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.10.5.0" newVersion="6.10.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
