<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DHL1" value="V62WP;Warenpost;13" />
    <add key="DHL2" value="EXIT" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.10.5.0" newVersion="6.10.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GKV3XAPISOAP11Binding">
          <security mode="Transport" />
        </binding>
        <binding name="GKV3XAPISOAP11Binding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://cig.dhl.de/services/production/soap"
        binding="basicHttpBinding" bindingConfiguration="GKV3XAPISOAP11Binding"
        contract="ShipWebReference3.GKV3XAPIServicePortType" name="GKVAPISOAP11port0" />
    </client>
  </system.serviceModel>
</configuration>
