<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UPS1" value="1;Next Day Air;0" />
    <add key="UPS2" value="2;2nd Day Air;0" />
    <add key="UPS3" value="3;Ground;0" />
    <add key="UPS4" value="4;Express;0" />
    <add key="UPS5" value="7;Expedited;0" />
    <add key="UPS6" value="11;UPS Standard;1,2,3,10,14,17,18,19,24,25,26,34,35,42,44" />
    <add key="UPS7" value="12;3 Day Select;0" />
    <add key="UPS8" value="13;Next Day Air Saver;0" />
    <add key="UPS9" value="14;Next Day Air Early AM;0" />
    <add key="UPS10" value="54;Express Plus;0" />
    <add key="UPS11" value="59;UPS 2nd Day Air A.M.;0" />
    <add key="UPS12" value="65;UPS Express Saver;12,20,23,36,38" />
    <add key="UPS13" value="82;UPS Today Standard;0" />
    <add key="UPS14" value="83;UPS Today Dedicated Courier;0" />
    <add key="UPS15" value="84;UPS Today Intercity;0" />
    <add key="UPS16" value="85;UPS Today Express;0" />
    <add key="UPS17" value="86;UPS Today Express Saver;0" />
    <add key="UPS18" value="EXIT" />
  </appSettings>
</configuration>